<!DOCTYPE html>
{% extends "layout_unbranded5.html" %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% block pageTitle %} View my applications
{% endblock %}
{% block content %}

<style>



.marginauto {
    margin: 0px auto -720px;
    display: block;
    z-index: 99;
    position: relative;
}

.marginauto2 {
    margin: 0px auto 0px;
    display: block;
    z-index: 9;
    position: relative;
    padding-top: 45px;
    padding-bottom: 45px;
}

.govuk-width-container {
    max-width: 100%;
    padding: 0px !Important;
    background:#000000;
    height: 100vh;
}

.contentframe {
display:block;
overflow-y: scroll;
height:720px;
}

</style>




<!-- Back & clear data top -->
<!-- Back & clear data top -->
<div style="padding-top: 50px;">
    <div>
        <img class="marginauto" src="/public/images/iphone_blackBG_960.png" width="480">
    </div>

     <div class="contentframe">
        <img class="marginauto2" src="/public/images/Design_3b_Mobile.png" width="300">
    </div>
</div>




    <!-- <div class="contentframe">
        <img class="marginauto" src="/public/images/Design_3b_Mobiled.png">
    </div> -->


    



{% endblock %}
