<!-- Javascript -->
<script src="/public/javascripts/jquery.js"></script>
<script src="/public/javascripts/all.js"></script>

<script type="text/javascript">
    window._mfq = window._mfq || [];
    (function() {
      var mf = document.createElement("script");
      mf.type = "text/javascript"; mf.defer = true;
      mf.src = "//cdn.mouseflow.com/projects/b725bd26-7c23-4845-9024-1174a591738a.js";
      document.getElementsByTagName("head")[0].appendChild(mf);
    })();
  </script>

<script>
    $(function() {
        $("td[colspan=12]").find("p").hide();
        $("table").click(function(event) {
            event.stopPropagation();
            var $target = $(event.target);
            if ( $target.closest("td").attr("colspan") > 1 ) {
                $target.slideUp();
            } else {
                $target.closest("tr").next().find("p").slideToggle();
            }                    
        });
    });

    $("a[id^=show_]").click(function(event) {
    $("#extra_" + $(this).attr('id').substr(5)).slideToggle("slow");
    event.preventDefault();
})

    </script>

{% for scriptUrl in extensionConfig.scripts %}
  <script src="{{scriptUrl}}"></script>
{% endfor %}

<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/fontawesome.js"></script>
<script src="/public/javascripts/govuk-frontend.js"></script>
<script src="/public/javascripts/expandy-rows3.js"></script>
<script src="/public/javascripts/jquery.tablesorter.collapsible.js"></script>


{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}
