<!-- Javascript -->
<script src="/public/javascripts/jquery.js"></script>
<script src="/public/javascripts/all.js"></script>

{% for scriptUrl in extensionConfig.scripts %}
  <script src="{{scriptUrl}}"></script>
{% endfor %}

<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/fontawesome.js"></script>
<script src="/public/javascripts/govuk-frontend.js"></script>

<script type="text/javascript">
  window._mfq = window._mfq || [];
  (function() {
    var mf = document.createElement("script");
    mf.type = "text/javascript"; mf.defer = true;
    mf.src = "//cdn.mouseflow.com/projects/b725bd26-7c23-4845-9024-1174a591738a.js";
    document.getElementsByTagName("head")[0].appendChild(mf);
  })();
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#attachmentSelection').on('change', function() {
          if ( this.value == '1')
          {
            $("#business").show();
          }
          else
          {
            $("#business").hide();
          }
        });
    });
        </script>


<script>
  $("#toggleButton").click(function()
  {
       $("#mySidebar").toggleClass("collapsed-nav expanded-nav");
       $("#main").toggleClass("collapsed-main expanded-main");
       $("#hmlrLogo").toggleClass("collapsed-logo expanded-logo");
  });
</script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}
