// START Making changes to the typography

.govuk-heading-xl, .govuk-fieldset__heading, .govuk-label, .govuk-radios__label, .govuk-hint, .govuk-radios__hint,
.govuk-button, .govuk-back-link, .govuk-heading-s, .govuk-body, .govuk-heading-m{
    font-family: "Roboto";
}

#largeHeading_whatService{
    margin-top: 25px;
    margin-bottom: 45px;
}

#radio_label_whatService{
    font-weight: 500;
}

#sign-in-item-hint, #sign-in-2-item-hint{
    font-size: 16px;
    color: #454A4C
}

#customer-reference-hint{
    color:black;
    font-size: 18px;
}

.govuk-link:link, a:link{
    color: #00703C;
}

// START fixing spacing on what_service page

.govuk-back-link{
    margin-top: 30px;
}

.govuk-radios{
    margin-top: 10px;
}

.govuk-radios__item{
    margin-bottom: 20px;
}

// START fixing spacing on Request Title Information page

#grey-container-text{
    margin-bottom: 0px;
}

#requestTitleInformation-group, #form_group{
    margin-bottom: 40px;
}

// Rest of styling

.govuk-width-container{
    background-color: pink;
}


.govuk-grid-row {
    background-color: white;
    max-width: 960px;
    margin: 0 auto;
}

.grey-container{
    background-color: #f3f2f1;
    margin-top: 80px;
    padding: 25px;
}

// .govuk-radios{
//     background-color: blueviolet;
// }

.govuk-fieldset{
    padding:0px;
}

.govuk-table{
    border: 0px;
    width: 100%;}

.govuk-table__row:nth-child(1){
    border-top: 1px solid #bfc1c3;}

.govuk-table__header{
    padding: 10px 30px 10px 0px;
}

.govuk-table__row:hover{
    background: none;
}

.table_2_header{
    padding: 10px 0px;
}

.govuk-table__cell2{
    padding: 10px 0px;
}

.govuk-accordion__controls {
    display:none;
}


