<!DOCTYPE html>
{% extends "layout_unbranded.html" %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% block pageTitle %} View my applications
{% endblock %}
{% block content %}



<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }

    </script>



<style>

/* New Menu Styling */

.govuk-width-container {
    padding: 30px !Important;
}

ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f8f8f8;
}

ul.horizontal li {
    float: left;
}

.rightli {
    float: right!Important;
}

ul.horizontal li a {
    display: inline-block;
    color: #005ea5;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    position: relative;
    height: 50px;
    padding: 0 15px;
    line-height: 50px;
}

ul.horizontal li a.active {
    background-color: #005ea5;
    color: #ffffff;
}

.govuk-table {
    border: unset;
    margin-top:40px;
}

tr {
    font-size:17px !important;
}

.newLayout {
    width: 100%;
    max-width: 1500px;
    margin: 50px auto;
}

/* Original styling */
</style>


<!-- Back & clear data top -->
<!-- Back & clear data top -->
<div>

  <!-- Header -->
      

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" id="headerdiv">
      <a href="/portalhomepage.html"><img src="/public/images/headerlogo.svg" alt="hmlrlogo"></a>
      <br>
      <a class="tooltip" href="#" style="float: right; font-size: 14px; font-weight: ; text-decoration: none; margin-top: 0px; margin-top :-15px;"> Customer Support <img style="float: right; font-size: 14px; margin-right: -5px; margin-top :-8px;" src="/public/images/popout-modern.png" width="30" height="30">
      <!-- <span class="tooltiptext">Opens in a new window</span></a> -->
      <a href="#" style="float: right; font-size: 14px; font-weight: ; text-decoration: none; margin-right: 5px; padding-right: 10px; margin-top: -15px;"> Logout </a>
      <hr style= "height: 5px;background: #005ea5; border: none;margin-block-start: 30px;">
    </div>
    </div>
  
  
  <div> 
    <nav class="">
      <ul class="horizontal">
        
        <li>
          <a href="#" data-topnav="Styles">My Portal</a>
        </li>
  
        <li>
          <a href="#" data-topnav="Styles">Documents</a>
        </li>
  
        <li>
          <a class="active" href="#" data-topnav="Get started">Applications</a>
        </li>
  
        <li>
          <a href="#" data-topnav="Get started">Search for information</a>
        </li>
       
        <li>
          <a href="#" data-topnav="Styles">Pre-completion</a>
        </li>
        
        <li>
          <a href="#" data-topnav="Components">E-services</a>
        </li>
        
        <li class="rightli">
          <a href="V1-help.html" data-topnav="Community">Help</a>
        </li>
        
      </ul>
    </nav>
  </div>



        
                <!-- Service title -->
                <div style="">    
                <div class="newLayout">
                    <h1 class="govuk-heading-xl">Applications</h1>
        
                    <div class="govuk-grid-row" style="margin:0px;padding-bottom: 20px;">
        
                        <div class="VCAinactive" style="margin-right:30px;margin-bottom:30px;" onclick="location.href='V1-VMA.html';">
                            <div class="VCAtitle">My Applications</div>
                            <div class="VCAtext">Lorem ipsum dolor sit amet, consetetur bene.</div>
                        </div>
        
                        <div class="VCAactive" onclick="location.href='V1-VCA.html';">
                            <div class="VCAtitle">My Colleagues' Applications</div>
                            <div class="VCAtext">Lorem ipsum dolor sit amet, consetetu.</div>
                        </div>
        
                    </div>
        
        
                    <div class="govuk-grid-row" style="margin:0px;padding-bottom: 20px;">
                        <div class="govuk-body" style="float: left;margin-right: 30px;margin-bottom: 30px;">
                            <label class="govuk-label form-label-bold">
                                Select a colleague
                            </label>
                            <select id="cat" class="form-control" onchange="location = this.value;">
                                <optgroup label="Recent searches">
                                    <option value="V1-VCA-andycarr.html">Andy Carr</option>
                                    <option value="V1-VCA.html">John Taylor</option>
                                    <option value="V1-VCA-jonparker.html">Jon Parker</option>
                                    <option value="V1-VCA-nicolaandrews.html">Nicola Andrews</option>
                                    <option value="V1-VCA-patgannon.html">Pat Gannon</option>
                                    </optgroup>
                                    <optgroup label="All colleagues">
                                    <option value="V1-VCA.html">Aaron Flynn</option>
                                    <option value="V1-VCA.htmlt">Alex Blewett</option>
                                    <option value="V1-VCA-andycarr.html">Andy Carr</option>
                                    <option value="V1-VCA.html">Duncan Anderson</option>
                                    <option value="V1-VCA.html">James Thomas</option>
                                    <option value="V1-VCA.html">John Baptiste-Kelly</option>
                                    <option value="V1-VCA.html">John James</option>
                                    <option value="V1-VCA.html">John Taylor</option>
                                    <option value="V1-VCA-jonparker.html">Jon Parker</option>
                                    <option value="V1-VCA.html">Juan Pinto-del-Rio</option>
                                    <option value="V1-VCA.html">Lukas Kroening-Maynard</option>
                                    <option value="V1-VCA.html">Mark Hornsby</option>
                                    <option value="V1-VCA.html">Melvia Mathew</option>
                                    <option value="V1-VCA.html">Neil Butler</option>
                                    <option value="V1-VCA-nicolaandrews.html">Nicola Andrews</option>
                                    <option value="V1-VCA-patgannon.html">Pat Gannon</option>
                                    <option value="V1-VCA.html">Romani Davies</option>
                                    <option value="V1-VCA.html">Simon Skidmore</option>
                                    <option value="V1-VCA.html">Sue Watchman</option>
                                    <option value="V1-VCA.html">Tony Watson</option>
                                    </optgroup>
                            </select>
                        </div>
        
        
                        
                        <div class="govuk-body" style="float: left;margin-right: 30px;margin-bottom: 30px;">
                            <label class="govuk-label form-label-bold">
                                    Apply filters
                            </label>
        
        
                            <div class="dropdown" data-control="checkbox-dropdown">
                                <label class="dropdown-label">Select</label>
                                
                                <div class="dropdown-list govuk-checkboxes govuk-checkboxes--small">
        
                                    <label style="font-weight:600;width:100%;display:inline-block;padding-bottom: 5px;">Application type</label>
        
                                      <label class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" name="application-type2" value="Preliminary" id="Preliminary" type="checkbox">
                                        <label class="govuk-label govuk-checkboxes__label" for="Preliminary">
                                            Register update
                                        </label>
                                      </label>
        
                                      <label class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" name="application-type2" value="Substantive" id="Substantive" type="checkbox">
                                        <label class="govuk-label govuk-checkboxes__label" for="Substantive">
                                            Register create
                                        </label>
                                      </label>
        
        
                                      <label class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" name="application-type2" value="Sobstantive" id="Sobstantive" type="checkbox">
                                        <label class="govuk-label govuk-checkboxes__label" for="Sobstantive">
                                            Register query
                                        </label>
                                      </label>
        
        
                                      <label style="font-weight:600;width:100%;display:inline-block;padding-top:20px;padding-bottom: 5px;">Application progress</label>
        
                                      <label class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" name="application-type2" value="Received" id="Received" type="checkbox">
                                        <label class="govuk-label govuk-checkboxes__label" for="Received">
                                            Received
                                        </label>
                                      </label>
        
                                      <label class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" name="application-type2" value="Cancelled" id="Cancelled" type="checkbox">
                                        <label class="govuk-label govuk-checkboxes__label" for="Cancelled">
                                            Cancelled
                                        </label>
                                      </label>
        
        
                                      <label class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" name="application-type2" value="Delayed" id="Delayed" type="checkbox">
                                        <label class="govuk-label govuk-checkboxes__label" for="Delayed">
                                            Delayed
                                        </label>
                                      </label>
        
                                      <label class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" name="application-type2" value="Completed" id="Completed" type="checkbox">
                                        <label class="govuk-label govuk-checkboxes__label" for="Completed">
                                            Completed
                                        </label>
                                      </label>
        
        
        
                                </div>
                              </div>
        
                            
                        </div>
        
                    
        
        
                        <div class="govuk-body" style="float: left;margin-right: 30px;margin-bottom: 30px;">
                            <label class="govuk-label form-label-bold">
                                    Search applications
                            </label>
        
                            <form id="search">
        
                                <input type="text" id="search-input" class="searchBox" style="">
                            </form>
        
                        </div>
        
                    <div>
        
                </div>
                        
            </div>
        
        
        
        
        
        <div>
          <a class="exportButton" href="#">Export Applications (CSV)</a>
        
        
          <div class="dropdown">
            <button class="dropbtn">Accessibility</button>
        </div>
        
        <a class="darkModeButtonLight" href="V1-VMA-Dark.html">Dark Mode</a>
        <a class="helpButton" style="float:unset;" target="_blank" href="V1-Help.html">Help</a>
        </div>
        
        
        
                    <!-- My Work Table -->
                        <table  class="govuk-table my-work">
        
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row" style="font-size:14px;">
                                    <th class="govuk-table__header" scope="col" style="padding:0px !important; width:1px;"></th> 
                                    <th class="govuk-table__header sortable" scope="col" id="Title"><div>Title Number</div></th>
                                    <th class="govuk-table__header sortable" scope="col"><div>Customer Reference</div></th>
                                    <th class="govuk-table__header" scope="col">Application Type</th>
                                    <th class="govuk-table__header sortable" scope="col"><div>Received by HMLR</div></th>
                                    <th class="govuk-table__header" scope="col"><div>Estimated Completion Date</div></th>
                                    
                                    <th class="govuk-table__header" scope="col" style="width: 160px;">Application Progress</th>
                                    <th class="govuk-table__header" scope="col" style="width: 68px;"></th>
                                    </tr>
                            </thead>
        
        
                    {% macro rows(page) %}
        
        
                      <!-- 4 -->
                      <tbody class="govuk-table__body">
                      <tr class="govuk-table__row govuk-link-table">
                        <td class="govuk-table__cell" style="padding:0px !important; width:1px;"></td>
                        
                        <td class="govuk-table__cell " scope="row">JJ46464 <p class="govuk-visually-hidden"> JJ46464 </p><!-- THIS IS PAGE {{page}} --></td>
                        <td class="govuk-table__cell ">AC/Hardy	</td>
                        <td class="govuk-table__cell Substantive" id="">Official Search of Whole with Priority<p class="govuk-visually-hidden"> Sobstantive Completed  </p></td>
                        <td class="govuk-table__cell" scope="row" data-sortable="2019-04-12">12/04/19</td>
                        
                        <td class="govuk-table__cell"style="padding-left: 10px;" data-sortable=""></td>
                        
                        <td  class="govuk-table__cell"><span class="tag completed">Completed</span></td>
                        <td class="govuk-table__cell" scope="row" style="text-align: center;"><a class="expandy-row-trigger2" href="#">+</a></td>
                      </tr>
        
                      <!-- 1 Expanded row -->
                      <tr class="govuk-table__row expandy-row hide-row accordion-default-content-1" style="vertical-align: top;">
                        <!-- Vertical line -->
                        
        
                        <td class="govuk-table__cell" colspan="8" style="padding-top: 30px;">
                            <div>
                                <div class="rowContentSection">
                                    <div class="expandedTitles">
                                        Application progress
                                    </div> 
                                    <div class="expandedText">
                                        Completed
                                    </div>   
                                </div>
                                <div class="rowContentSection">
                                    <div class="expandedTitles">
                                        HMLR Reference
                                    </div>
                                    <div class="expandedText">
                                        E921HSK
                                    </div>
                                </div>
        
                            </div>
                            
                            <div style="float: left;width: 100%;padding: 0px;">
                              <div class="rowContentSection">
                                <div class="expandedTitles">
                                    Priority period
                                </div>
                                <div class="expandedText">
                                    13/11/19 - 27/12/19
                                </div>
                                </div>
                                <div class="rowContentSection">
                                  <div class="expandedTitles">
                                      Files
                                  </div>
                                  <div class="expandedText">
                                      <a href="#">Search result dated 31/10/19 </a>
                                  </div>     
        
                              </div>
                            </div>
        
                        </td>
        
                       
        
                                  </tr>
                      </tbody>
        
        
        
        
                      <!-- 8 -->
                      <tbody class="govuk-table__body">
                      <tr class="govuk-table__row govuk-link-table">
                        <td class="govuk-table__cell" style="padding:0px !important; width:1px;"></td>
                        
                        <td class="govuk-table__cell " scope="row"> <p class="govuk-visually-hidden"> P956EKA </p><!-- THIS IS PAGE {{page}} --></td>
                        <td class="govuk-table__cell ">Terry.43123	</td>
                        <td class="govuk-table__cell Substantive" id="">	Search of the Index Map<p class="govuk-visually-hidden"> Sobstantive Completed  </p></td>
                        <td class="govuk-table__cell" scope="row" data-sortable="2019-11-09">09/11/19</td>
                        
                        <td class="govuk-table__cell"style="padding-left: 10px;" data-sortable=""></td>
                        
                        <td  class="govuk-table__cell"><span class="tag completed">Completed</span></td>
                        <td class="govuk-table__cell" scope="row" style="text-align: center;"><a class="expandy-row-trigger2" href="#">+</a></td>
                      </tr>
        
                      <!-- 1 Expanded row -->
                      <tr class="govuk-table__row expandy-row hide-row accordion-default-content-1" style="vertical-align: top;">
                        <!-- Vertical line -->
                       
        
                        <td class="govuk-table__cell" colspan="8" style="padding-top: 30px;">
                            <div>
                                <div class="rowContentSection">
                                    <div class="expandedTitles">
                                        Application progress
                                    </div> 
                                    <div class="expandedText">
                                        Completed
                                    </div>   
                                </div>
                                <div class="rowContentSection">
                                    <div class="expandedTitles">
                                        HMLR Reference
                                    </div>
                                    <div class="expandedText">
                                        P956EKA
                                    </div>
                                </div>
        
                            </div>
                            
                            <div style="float: left;width: 100%;padding: 0px;">
                              
                                <div class="rowContentSection">
                                  <div class="expandedTitles">
                                      Files
                                  </div>
                                  <div class="expandedText">
                                      <a href="#">Search result dated 31/11/19</a>
                                  </div>     
        
                              </div>
                            </div>
        
                        </td>
        
                        
        
                                  </tr>
                      </tbody>
        
                      <!-- 9 -->
                      <tbody class="govuk-table__body">
                      <tr class="govuk-table__row govuk-link-table">
                        <td class="govuk-table__cell" style="padding:0px !important; width:1px;"></td>
                        
                        <td class="govuk-table__cell " scope="row">NN890543 <p class="govuk-visually-hidden"> NN890543 </p><!-- THIS IS PAGE {{page}} --></td>
                        <td class="govuk-table__cell ">Johnson.12334	</td>
                        <td class="govuk-table__cell Substantive" id="">	Register Update<p class="govuk-visually-hidden"> Preliminary Completed  </p></td>
                        <td class="govuk-table__cell" scope="row" data-sortable="2019-11-01">01/11/19</td>
                        
                        <td class="govuk-table__cell " style="padding-left: 10px;"  data-sortable=""></td>
                        
                        <td  class="govuk-table__cell"><span class="tag completed">Completed</span></td>
                        <td class="govuk-table__cell" scope="row" style="text-align: center;"><a class="expandy-row-trigger2" href="#">+</a></td>
                      </tr>
        
                      <!-- 1 Expanded row -->
                      <tr class="govuk-table__row expandy-row hide-row accordion-default-content-1" style="vertical-align: top;">
                        <!-- Vertical line -->
                      
        
                        <td class="govuk-table__cell" colspan="8" style="padding-top: 30px;">
                            <div>
                                <div class="rowContentSection">
                                    <div class="expandedTitles">
                                        Application progress
                                    </div> 
                                    <div class="expandedText">
                                        Completed
                                    </div>   
                                </div>
                                <div class="rowContentSection">
                                    <div class="expandedTitles">
                                        HMLR Reference
                                    </div>
                                    <div class="expandedText">
                                        K928TDH
                                    </div>
                                </div>
        
                            </div>
                            
                            <div style="float: left;width: 100%;padding: 0px;">
                              <div class="rowContentSection">
                                    <div class="expandedTitles">
                                        Correspondence
                                    </div>
                                    <div class="expandedText">
                                        <a href="#">Requisition(s)</a> <b style="padding-left:30px;">Issued: </b>22/10/19
                                    </div>    
                                    
                                </div>
                                <div class="rowContentSection">
                                  <div class="expandedTitles">
                                      Files
                                  </div>
                                  <div class="expandedText">
                                      <a href="#">Official Copy of Register dated 31/10/19</a>
                                  </div>    
        
                              </div>
                            </div>
        
                            <div style="float: left;width: 100%;padding: 0px;">
                              <div style="float: left; padding-right: 100px;padding-bottom: 0px;">
                                    <div class="expandedTitles" style="padding-bottom: 15px;">
                                        Export Application
                                    </div>
                                    <div class="expandedText">
                                        <a class="exportButton" href="#">PDF</a>
                                    </div>    
        
                                </div>
                            </div>
        
        
        
        
                        </td>
        
                        
        
                                  </tr>
                      </tbody>
        
        
        
                          </div>
        
        
                      </tbody>
        
        
        
                    {% endmacro %}
        
                    {{rows(1)}}
                    {# {{rows(2)}}
                    {{rows(3)}}
                    {{rows(4)}}
                    {{rows(5)}} #}
        
                    </table>
        
                    <div class="govuk-grid-column-one-quarter" style="float: right; text-align: right;">
        
        
        
                      <div style="margin-left: -1000px;"><p style="font-size: 16px;"> Displaying 1 - 3 of 3 applications</p></div>
                    </div>
        
                                    
        

                            

              


        <style>

        .details {
          text-decoration: underline;
        }

        .govuk-details {
          font-size: 16px;
          max-width: 600px;

        }

        </style>

        <!---CONTENT----------------------------------------------------------------->





    <!-- </footer> -->

</div></div>

    <!-- </footer> -->
    <div class="govuk-grid-row" style="margin:0px;">
        <div class="footer-link">
            <div class="govuk-grid-column-full" id="headerdiv">
        <div class="govuk-width-container">
                <br>
                <br>
                <hr style="height: 5px;background: #005ea5; border: none;margin-block-start: 30px;">
    
    
        <br>
        <a class="footlink" style="text-color: grey; text-decoration: none;"><u>Terms and conditions</u></a>
        <a>|</a>
        <a class="footlink" style="text-color: grey; text-decoration: none;"><u>Accessibility Statement</u></a>
        <a>|</a>
        <a class="footlink" style="text-color: grey; text-decoration: none;"><u>Freedom of information</u></a>
        <a>|</a>
        <a class="footlink" style="text-color: grey; text-decoration: none;"><u>© Crown copyright</u></a>
    
        <a style="float:right;" href="/prototype-admin/clear-data"> Clear data </a>
        <br>
        <br>
        <a class="footlink-no" style="text-color: grey; text-decoration: none;"><i>These links will open in a new window.</i></a>
        <p></p>
        </div>
        </div>
        </div>
      </div>

{% endblock %}
