.z1 {
  text-align: right;
  min-height: 0px;
}

.z2 {
  background-color:#93CA3B; 
  padding:14px 14px 6px 14px;
  margin:0px;
  width:375px;
}

.z3 {
  width:290px !important;
}

.z4 {
  font-size:120%; 
  font-style:normal; 
  font-weight:medium;
}

.z5 {
  width:403px !important; 
}

.z6 {
  margin:9px 14px 20px 14px;
}

li.noB {
list-style-type:none; 
margin-left:-10px;
}