<script>

    const data = [
    { 
        id: 'blank', 
        icon:'',
        heading:'', 
        subheading: '', 
        label: '', 
        href: ''
      },
      { 
        id: 'officialcopies',
        icon:'<img src="/public/images/Icon_OfficialCopies.png">', 
        heading: 'Request Official Copies', 
        subheading: 'Request official copies of a register, title plan and/or documents', 
        label: 'Request a document', 
        href: '#'
      },
      { 
        id: 'appenquiry', 
        icon:'<img src="/public/images/Icon_link.png">',
        heading: 'Application Enquiry', 
        subheading: 'Request information regarding your applications', 
        label: 'Make enquiry', 
        href: '#'
      },
      { 
        id: 'registerViewHTML',
        icon:'<img src="/public/images/Icon_link.png">', 
        heading: 'Register View - HTML', 
        subheading: 'The ability for a user to view a register in HTML', 
        label: 'Request a document', 
        href: '#'
      },
      { 
        id: 'registerViewPDF',
        icon:'<img src="/public/images/Icon_link.png">', 
        heading: 'Register View - PDF', 
        subheading: 'The ability for a user to view a register as a PDF', 
        label: 'Request a document', 
        href: '#'
      },
      { 
        id: 'officialSearchOfWhole',
        icon:'<img src="/public/images/Icon_link.png">', 
        heading: 'Official Search of Whole (OS1)', 
        subheading: 'Protect a transaction for value such a purchase, lease or charge on the whole of the land', 
        label: 'Start new search', 
        href: '#'
      },
      { 
        id: 'officialSearchOfPart',
        icon:'<img src="/public/images/Icon_link.png">', 
        heading: 'Official Search of Whole (OS2)', 
        subheading: 'Protect a transaction for value such a purchase, lease or charge on the part of the land', 
        label: 'Start new search', 
        href: '#'
      },
      { 
        id: 'vma',
        icon:'<img src="/public/images/Icon_VMA.png">', 
        heading: 'View My Applications', 
        subheading: 'View the progress of your applications', 
        label: 'View applications', 
        href: '#'
      },
      { 
        id: 'titlePlanView',
        icon:'<img src="/public/images/Icon_link.png">',
        heading: 'Title Plan view ', 
        subheading: 'This enables you to view the title plan of a registered title ', 
        label: 'View title plan', 
        href: '#'
      },
      { 
        id: 'mapsearch',
        icon:'<img src="/public/images/Icon_MapSearch.png">', 
        heading: 'Map Search', 
        subheading: 'Find out if a property is registered, its location, title number & tenure details', 
        label: 'Start search', 
        href: '#'
      },
      { 
        id: 'searchOfTheIndexMap',
        icon:'<img src="/public/images/Icon_link.png">', 
        heading: 'Search of the Index Map', 
        subheading: 'Find out if a piece of land or property is registered with the Land Registry', 
        label: 'Start search', 
        href: '#'
      },
      { 
        id: 'pdf',
        icon:'<img src="/public/images/Icon_PDF.png">', 
        heading: 'PDF Downloads', 
        subheading: 'Access your PDF downloads from the download centre', 
        label: 'Download centre', 
        href: '#'
      },
      { 
        id: 'requesthistorical',
        icon:'<img src="/public/images/Icon_link.png">', 
        heading: 'Request Historical Copies', 
        subheading: 'Request historical copies that will be delivered by post', 
        label: 'Make Request', 
        href: '#'
      },
      { 
        id: 'drs', 
        icon:'<img src="/public/images/Icon_DRS.png">',
        heading: 'Digital Registration Service', 
        subheading: 'Submit applications to HM Land Registry online', 
        label: 'Submit Applications', 
        href: '#'
      },
    
      { 
        id: 'lcs', 
        icon:'<img src="/public/images/Icon_LandCharge.png">',
        heading: 'Land Charge Services', 
        subheading: 'Access information from the Land Register or apply for searches', 
        label: 'Start new search', 
        href: '#'
      },
  
  
   
  

    ]