{% extends "layout_unbranded.html" %} {% block pageTitle %} Index {% endblock %} {% block content %}


<style>

.footer-link {
    color: #747576;
  }

  .govuk-list > li {
    margin-bottom: 3px;
    list-style-type: disc;
    margin-left: 20px;
    font-size: 16px;
}

.js-enabled .govuk-accordion__section--expanded .govuk-accordion__section-content {
    padding-bottom: 50px;
}

.promoBox {
  border: 1px solid #dedede;
    padding: 25px;
    max-width: 350px;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.1);
    margin: 30px auto;
}

.govuk-width-container {
    max-width: 1400px;
}

</style>


<!-- Back & clear data top -->
<div class="govuk-width-container">

    <!-- Header -->
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full" id="headerdiv">
            <img src="public/images/headerlogo.svg">
            <br>
            <!-- <a style="float: right; font-size: 14px; font-weight: ; margin-top: -15px;"> Logout </a> -->




            <hr style="height: 4px;  background-image: linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">


    <!-- Phase banner ----->
    <div class="govuk-phase-banner" style="padding-bottom: 15px;">
      <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
          <span class="govuk-phase-banner__text">
      This is a prototype and not a real service.
    </span>
      </p>
  </div>

        </div>
    </div>
    <br>
    <br>


    <!-- Menu -->
    <div class="govuk-grid-row">
        <!-- Service title -->

        <div class="govuk-grid-column-two-thirds" style="float:none; margin:auto;">
  

          <div class="promoBox" style="margin-bottom:50px;">
            <h1 class="govuk-body govuk-!-font-size-27" style="font-family: arial; padding-top: 5px;">User Research
              </h1>
  

              <div style="">

                <p style="margin-bottom: 10px;font-weight:600;margin-top:30px;">Layouts
                </p>
  
                <p style="margin-bottom:5px;"><a style="text-decoration: none;" href="/Homepage/Layout1.html" target="_blank">Layout 1 - Actions</a></p>
                <p style="margin-bottom:5px;"><a style="text-decoration: none;" href="/Homepage/Layout2.html" target="_blank">Layout 2 - Services</a></p>
                <p style="margin-bottom:5px;"><a style="text-decoration: none;" href="/Homepage/Layout3.html" target="_blank">Layout 3 - Comms</a></p>
              </div>


            <div>

              <p style="margin-bottom: 10px;font-weight:600;margin-top:30px;">Designs
              </p>

            <p style="margin-bottom:5px;"><a style="text-decoration: none;" href="/Homepage/Design1_Desktop.html" target="_blank">Design 1 - Desktop</a></p>
            <p style="margin-bottom:5px;"><a style="text-decoration: none;" href="/Homepage/Design1_Mobile.html" target="_blank">Design 1 - Mobile</a></p>
            <p style="margin-bottom:5px;"><a style="text-decoration: none;" href="/Homepage/Design2_Desktop.html" target="_blank">Design 2 - Desktop</a></p>
            <p style="margin-bottom:5px;"><a style="text-decoration: none;" href="/Homepage/Design2_Mobile.html" target="_blank">Design 2 - Mobile</a></p>
            <p style="margin-bottom:5px;"><a style="text-decoration: none;" href="/Homepage/Design3_Desktop.html" target="_blank">Design 3 - Desktop</a></p>
            <p style="margin-bottom:5px;"><a style="text-decoration: none;" href="/Homepage/Design3_Mobile.html" target="_blank">Design 3 - Mobile</a></p>
            </div>

            <div>

              <p style="margin-bottom: 10px;font-weight:600;margin-top:30px;">Grouping Services
              </p>

            <p style="margin-bottom:5px;"><a style="text-decoration: none;" href="https://xd.adobe.com/view/7b27e378-080f-40f7-ae4b-55bcf3d192f8-2e74/?fullscreen" target="_blank">Request title information</a></p>
            <p style="margin-bottom:5px;"><a style="text-decoration: none;" href="https://xd.adobe.com/view/b73ec691-b4f6-4b6b-8589-5d65755e4961-e26d/?fullscreen&hints=off" target="_blank">Official searches</a></p>

            </div>




          </div>


          <div class="promoBox" style="margin-bottom:50px;">
            <h1 class="govuk-body govuk-!-font-size-27" style="font-family: arial; padding-top: 5px;">Demonstration Prototype
              </h1>
  
            <div>
            <p style="margin-bottom:5px;"><a href="/Sprint_27/V3.html" target="_blank">Launch prototype</a>
            
            </div></div>

            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections" style="padding-top:50px;">
             

              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                      Homepage concepts for Laura / JBK
                    </span>
                  </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

                  <ul class="govuk-list">
                    <li>Option 1 - With icons - <a href="/New_Homepage/index_5.html" target="_blank">View</a> </li>
                    <li>Option 2 - No icons - <a href="/New_Homepage/index_7.html" target="_blank">View</a> </li>
                  </ul>

                </div>
              </div>


              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                      Request Title Information
                    </span>
                  </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
                  <p style="margin-bottom: 10px;font-weight:600;">Lauren has taken Andy's Adobe XD file and created a coded prototype experience
                  </p>


                  <ul class="govuk-list">
                    <li>Click the Request Title Information on the homepage to begin - <a href="/requestTitleInformation/LD_prototype/" target="_blank">View</a> </li>
                  </ul>

                </div>
              </div>


              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                      View Colleague's Application iterations (E23 - 70)
                    </span>
                  </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

                  <p style="margin-bottom: 10px;font-weight:600;">There are multiple options with different iterations towards the final design
                  </p>
                  <ul class="govuk-list">
                    <li>Option 1 - Only the search button has been updated - <a href="/viewColleaguesApplication/iterations/v1.html" target="_blank">View</a> </li>
                    <li>Option 2 - Side menu layout introduced with top nav from Homepage <a href="viewColleaguesApplication/iterations/v2.html" target="_blank">View</a> </li>
                    <li>Option 3 - Side menu, top nav and updated filter design <a href="viewColleaguesApplication/iterations/v3.html" target="_blank">View</a> </li>
                    <li>Option 4 - Side menu, top nav, filters and updated table design <a href="viewColleaguesApplication/iterations/v4.html" target="_blank">View</a> </li>
                    <li>Option 5 - Side menu, top nav, filters, table + filter update and expand icon removed <a href="viewColleaguesApplication/iterations/v5.html" target="_blank">View</a> </li>
                    <li>Option 6 - Side menu, top nav, green outline, GDS grey buttons <a href="viewColleaguesApplication/iterations/v6.html" target="_blank">View</a> </li>
                    <li>Option 7 - Side menu, top nav, green outline, GDS grey buttons + colour tags <a href="viewColleaguesApplication/iterations/v7.html" target="_blank">View</a> </li>
                  </ul>

                </div>
              </div>




              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                      View Colleague's Application Opt-in and out (E23 - 68,69)
                    </span>
                  </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

                  <p style="margin-bottom: 10px;font-weight:600;">Option 1: Dedicated opt-in/out screen
                  </p>
                  <ul class="govuk-list">
                    <li>RP - This contains an edit link to a dedicated opt-in/out page - <a href="/viewColleaguesApplication/option1/manageBusinessUnit_RP_enabled.html" target="_blank">View</a> </li>
                    <li>BUA - This page only displays a status - <a href="viewColleaguesApplication/option1/manageBusinessUnit_BUA.html" target="_blank">View</a> </li>
                    <li>DRP - This page only displays a status - <a href="viewColleaguesApplication/option1/manageBusinessUnit_DRP.html" target="_blank">View</a> </li>
                  </ul>

                  <p style="margin-bottom: 10px;font-weight:600;">Option 2: Opt-in/out on Business Unit Details page
                  </p>
                  <ul class="govuk-list">
                    <li>RP - This page contains opt-in/out functionality - <a href="/viewColleaguesApplication/option2/manageBusinessUnit_RP_enabled.html" target="_blank">View</a> </li>
                    <li>BUA - This page only displays a status - <a href="viewColleaguesApplication/option2/manageBusinessUnit_BUA.html" target="_blank">View</a> </li>
                  </ul>


                </div>
              </div>



              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                      Correspondence (E23 - 66a,b,c,d,e,f,g,h,j)
                    </span>
                  </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

                  <p style="margin-bottom: 10px;font-weight:600;">This update includes
                  </p>
                  <ul class="govuk-list">
                    <li>Updated expanded/collapsed applications - <a href="/Correspondence/index.html" target="_blank">View</a> </li>
                    <li>Updated PDF - <a href="/Correspondence/PDF_V1.html" target="_blank">View</a> </li>
                  </ul>



                </div>
              </div>



              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                      Homepage customisation with user research questions
                    </span>
                  </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

                  <p style="margin-bottom: 10px;font-weight:600;">This update includes
                  </p>
                  <ul class="govuk-list">
                    <li>Wizard style design that captures segmentation data - <a href="/Customisation/index.html" target="_blank">View</a> </li>
                  </ul>



                </div>
              </div>



              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                      Homepage Concepts
                    </span>
                  </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">



                  <p style="margin-bottom: 10px;font-weight:600;">Versions created after meeting with senior design team
                  </p>

                  <ul class="govuk-list">
                    <li>Option 1 - <a href="/New_Homepage/index_7.html" target="_blank">View prototype</a></li>
                    <li>Option 2 - <a href="/New_Homepage/index_8.html" target="_blank">View prototype</a></li>
                  </ul>



                  <p style="margin-bottom: 10px;font-weight:600;">Homepage Designs with different icon sets
                  </p>

                  <ul class="govuk-list">
                    <li>No icons - Text only - <a href="/New_Homepage/index_6.html" target="_blank">View prototype</a></li>
                    <li>Original icons - green circles - <a href="/New_Homepage/Index_4.html" target="_blank">View prototype</a></li>
                    <li>Icon set 1 - Inspired by GDS - Every service listed - <a href="/New_Homepage/index_5.html" target="_blank">View prototype</a></li>
                  </ul>







                  <p style="margin-bottom: 10px;font-weight:600;">Homepage Design for Developer with
                  </p>

                  <ul class="govuk-list">
                    <li>Example header navigation with dropdowns, notifications and user info</li>
                    <li>Removed comms panel in hero image</li>
                    <li>Removed actions/notifications panel</li>
                    <li>6x Editable links</li>
                    <li>14x example services for the user to select (full list to be added in development build)</li>
                    <li>Position 1 demonstrates searchable dropdown to be applied to all positions</li>
                    <li>3x News articles that can be updates via a CMS</li>
                    <li>Removed Additional services section</li>
                    <li>Added despatch details section</li>
                    <li><a href="/New_Homepage/Index_4.html" target="_blank">View prototype</a></li>
                  </ul>


                  <p style="margin-bottom: 10px;font-weight:600;margin-top:30px;">Coded Concepts
                  </p>

                  <ul class="govuk-list">
                    <li>Index 1 - Drag to reorder the links - <a href="/New_Homepage/Index_1.html" target="_blank">View</a> </li>
                    <li>Index 2 - Drop down menu - <a href="/New_Homepage/Index_2f.html" target="_blank">View</a> </li>
                    <li>Index 3 - Top navigation removed for UR - Comms removed and notification banner - <a href="/Customisation/homepage.html" target="_blank">View</a> </li>
                    <li>Index 4 - simplified design with searchable dropdown menus - <a href="/New_Homepage/Index_4.html" target="_blank">View</a> </li>
                  </ul>


                  <p style="margin-bottom: 10px;font-weight:600;margin-top:30px;">UR Round 1 - Static/Interactive Adobe XD Homepage Concepts
                  </p>

                  <ul class="govuk-list">
                    <li><a style="text-decoration: none;" href="/Homepage/Design1_Desktop.html" target="_blank">Design 1 - Desktop</a></li>
                    <li><a style="text-decoration: none;" href="/Homepage/Design1_Mobile.html" target="_blank">Design 1 - Mobile</a></li>
                    <li><a style="text-decoration: none;" href="/Homepage/Design2_Desktop.html" target="_blank">Design 2 - Desktop</a></li>
                    <li><a style="text-decoration: none;" href="/Homepage/Design2_Mobile.html" target="_blank">Design 2 - Mobile</a></li>
                    <li><a style="text-decoration: none;" href="/Homepage/Design3_Desktop.html" target="_blank">Design 3 - Desktop</a></li>
                    <li><a style="text-decoration: none;" href="/Homepage/Design3_Mobile.html" target="_blank">Design 3 - Mobile</a></li>

                  </ul>

                  <p style="margin-bottom: 10px;font-weight:600;margin-top:30px;">UR Round 2 - Static/Interactive Adobe XD Homepage Concepts
                  </p>

                  <ul class="govuk-list">
                    <li><a style="text-decoration: none;" href="https://xd.adobe.com/view/3ab8f0fa-642f-4d17-b6f0-13343627b1e3-6feb/?fullscreen&hints=off" target="_blank">Two designs testing different link layouts, horizontal and vertical</a></li>

                  </ul>

                  <p style="margin-bottom: 10px;font-weight:600;margin-top:30px;">UR Round 3 - Static/Interactive Adobe XD Homepage Concepts
                  </p>

                  <ul class="govuk-list">
                    <li><a style="text-decoration: none;" href="https://xd.adobe.com/view/78e83d88-8489-4209-b926-36aa746e43a3-2dbb/?fullscreen" target="_blank">Three design options with different ways to customise the links layout section</a></li>

                  </ul>


                </div>
              </div>





              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                      Pre lodged applications (E23 - 37a,b,c,d,e)
                    </span>
                  </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

                  <p style="margin-bottom: 10px;font-weight:600;">This update includes
                  </p>
                  <ul class="govuk-list">
                    <li>Saved DRS applications with 2 methods to resume + Filters - <a href="/prelodged_applications/prelodged_V1.html" target="_blank">View</a> </li>

                    <li>Updated help page with saved DRS application content - <a href="/prelodged_applications/help_V1.html" target="_blank">View</a> </li>

                    <li>Notification banner - <a href="/prelodged_applications/banner_V1.html" target="_blank">View</a> </li>
                  </ul>



                </div>
              </div>



              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                      New VCA Design
                    </span>
                  </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

                  <p style="margin-bottom: 10px;font-weight:600;">This is the recommended design
                  </p>
                  <ul class="govuk-list">
                    <li>VCA Design 2 - Dark green header, accents but lighter green expanded row - <a href="/Green/NewLayout_Green2.html" target="_blank">View</a> </li>
                  </ul>


                  <p style="margin-bottom: 10px;font-weight:600;">This is the version that was User Researched
                  </p>
                  <ul class="govuk-list">
                    <li>New design and layout with black header and blue colour accents - <a href="/Sprint_31/UserResearch/NewLayout_Default.html" target="_blank">View</a> </li>
                  </ul>

                  <p style="margin-bottom: 10px;font-weight:600;margin-top:30px;">The below options take the User Researched design and introduces the colour green to align closer with LR branding
                  </p>
                  <ul class="govuk-list">
                    <li>VCA Design 1 - Dark green header, expanded row and accents - <a href="/Green/NewLayout_Green.html" target="_blank">View</a> </li>
                    <li>VCA Design 2 - Dark green header, accents but lighter green expanded row - <a href="/Green/NewLayout_Green2.html" target="_blank">View</a> </li>
                    <li>VCA Help - Dark green header and links - <a href="/Green/V1-Help.html" target="_blank">View</a> </li>
                    <li>Map Search Design - Dark green header and links - <a href="/Green/NewLayout_MapSearch.html" target="_blank">View</a> </li>
                  </ul>



                </div>
              </div>


              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                      Actions section with buttons: Respond, Application Enquiry, Save as PDF
                    </span>
                  </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">


                  <p style="margin-bottom: 10px;font-weight:600;">Chosen design for this piece of work
                  </p>
                  <ul class="govuk-list">
                    <li>Design 7 - Row 1 has actions section, Row 2 has Requires Action and Correspondence - <a href="/Sprint_33/V1g.html" target="_blank">View</a> </li>
                    <li>Updated help page information - <a href="/Sprint_33/V1-help#actions" target="_blank">View</a> </li>
                  </ul>

                  <p style="margin-bottom: 10px;font-weight:600;margin-top:30px;">Design history for this piece of work
                  </p>
                  <ul class="govuk-list">
                    <li>Design 1 - Expand application rows to view different button location layouts - <a href="/Sprint_33/V1.html" target="_blank">View</a> </li>
                    <li>Design 2 - Expand application rows to view different button location layouts - <a href="/Sprint_33/V1b.html" target="_blank">View</a> </li>
                    <li>Design 3 - Expand application rows to view different button location layouts - <a href="/Sprint_33/V1c.html" target="_blank">View</a> </li>
                    <li>Design 4 - Expand application rows to view different button location layouts - <a href="/Sprint_33/V1d.html" target="_blank">View</a> </li>
                    <li>Design 5 - Expand application rows to view different button location layouts - <a href="/Sprint_33/V1e.html" target="_blank">View</a> </li>
                    <li>Design 6 - Row 1 has actions section, Row 2 has respond to requisition - <a href="/Sprint_33/V1f.html" target="_blank">View</a> </li>
                    <li>Design 7 - Row 2 has "Requires Action" section which is the rebranded "Open Correspondence" section. Any new correspondence from HMLR that doesn't require action will appear in "Correspondence" and will have "Unread" next to to them.  - <a href="/Sprint_33/V1g.html" target="_blank">View</a> </li>
                    <li>Updated help page information - <a href="/Sprint_33/V1-help#reply" target="_blank">View</a> </li>
                  </ul>



                </div>
              </div>


              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                      Export single application - PDF Design - (E23 - 41b(i))
                    </span>
                  </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">


                  <ul class="govuk-list">
                    <li>Design V1 - This is an HTML template example for the Dev Team - <a href="/Sprint_33/exportsingle/V1.html" target="_blank">View</a> </li>
                    <li>Design V2 - This removes the grey background and central alignment - <a href="/Sprint_33/exportsingle/V2.html" target="_blank">View</a> </li>
                    <li>Design V3 - This reduces all fonts and spacing by 50% - <a href="/Sprint_33/exportsingle/V3.html" target="_blank">View</a> </li>
                    <li>Design V4 - This has a ruler at the top of the screen - <a href="/Sprint_33/exportsingle/V4.html" target="_blank">View</a> </li>
                    <li>Design V5 - This has a ruler at the top of the screen (removed inline block) - <a href="/Sprint_33/exportsingle/V5.html" target="_blank">View</a> </li>
                    <li>Design V6 - Updated design with new width and font sizes - <a href="/Sprint_33/exportsingle/V6.html" target="_blank">View</a> </li>
                    <li>Design V7 - Design to replicate Application Enquiry PDF - <a href="/Sprint_33/exportsingle/V7.html" target="_blank">View</a> </li>
                    <li>Design V8 - All items listed in a single table - <a href="/Sprint_33/exportsingle/V8.html" target="_blank">View</a> </li>
                    <li>Design V9 - Same as V8 but with grey logo - <a href="/Sprint_33/exportsingle/V9.html" target="_blank">View</a> </li>
                  </ul>


                </div>
              </div>


              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                      Export multiple applications
                    </span>
                  </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

                  <p style="margin-bottom: 10px;font-weight:600;">Export multiple applications: e23 - 41a(ii)
                  </p>
                  <ul class="govuk-list">
                    <li>VMA with ECD + export multiple applications - <a href="/Sprint_32/exportmultiple/V1.html" target="_blank">View</a> </li>
                    <li>Example exported CSV file - <a href="/public/files/example-export.csv" target="_blank">Download</a> </li>
                    <li>Updated help page with export multiple applications information - <a href="/Sprint_32/V1-help#export" target="_blank">View</a> </li>  
                  </ul>


                </div>
              </div>



              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                      New Layouts for UR + Mega Menus + AsIs with export
                    </span>
                  </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

                    <p style="margin-bottom: 10px;font-weight:600;">User research prototype development:
                    </p>
                    <ul class="govuk-list">
                      <li>Option 1 - New layout iteration - <a href="/Sprint_31/UserResearch/NewLayouts/V1-newlayout.html" target="_blank">View</a> </li> 
                      <li>Option 2 - New layout iteration - <a href="/Sprint_31/UserResearch/NewLayouts/V2-newlayout.html" target="_blank">View</a> </li>
                      <li>Option 3 - New layout iteration - <a href="/Sprint_31/UserResearch/NewLayouts/V3-newlayout.html" target="_blank">View</a> </li>
                      <li>Option 4 - New layout iteration - <a href="/Sprint_31/UserResearch/NewLayouts/V4-newlayout.html" target="_blank">View</a> </li>
                      <li>Option 5 - New layout iteration - <a href="/Sprint_31/UserResearch/NewLayouts/V5-newlayout.html" target="_blank">View</a> </li> 
                      <li>Option 6 - New layout iteration - <a href="/Sprint_31/UserResearch/NewLayouts/V6-newlayout.html" target="_blank">View</a> </li>
                      <li>Option 7 - New layout iteration - <a href="/Sprint_31/UserResearch/NewLayouts/V7-newlayout.html" target="_blank">View</a> </li>
                      <li>Option 8 - New layout iteration - <a href="/Sprint_31/UserResearch/NewLayouts/V9-newlayout.html" target="_blank">View</a> </li>
                      <li>Option 9 - New layout iteration - <a href="/Sprint_31/UserResearch/NewLayouts/V10-newlayout.html" target="_blank">View</a> </li>
                      <li>Option 10A - Fully fleshed out prototype for Jon Parker's UR sessions - <a href="/Sprint_31/UserResearch/NewLayout_Default.html" target="_blank">View</a> </li>
                      <li>Option 10B - New help page - <a href="/Sprint_31/UserResearch/V1-Help.html" target="_blank">View</a> </li>
                    </ul>

                    <p style="margin-bottom: 10px;font-weight:600;margin-top:30px;">Mega menu designs - Adobe have performed some really good research and testing on accessible mega menus
                    </p>
                    <ul class="govuk-list">
                      <li>Giant full width mega menu with promotional area - <a href="/Sprint_31/UserResearch/NewLayout_MegaMenu" target="_blank">View</a> </li>
                      <li>Central mega menu, regrouping services in to actions - <a href="/Sprint_31/UserResearch/NewLayout_MegaMenu2" target="_blank">View</a> </li>
                      <li>Not really a mega menu, but displays the regrouped services as individual dropdowns - <a href="/Sprint_31/UserResearch/NewLayout_MegaMenu3" target="_blank">View</a> </li>  
                    </ul>



                    <p style="margin-bottom: 10px;font-weight:600;margin-top:30px;">MapSearch using VMA prototype menu
                    </p>
                    <ul class="govuk-list">
                      <li>This concept combines some of the new VMA prototype with the existing MapSearch - <a href="/Sprint_31/UserResearch/NewLayout_MapSearch" target="_blank">View</a> </li>
                    </ul>

                </div>
              </div>

              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                      Estimated Completion Date (ECD)
                    </span>
                  </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

                    <p style="margin-bottom: 10px;font-weight:600;">This update includes:
                    </p>
                    <ul class="govuk-list">
                      <li>Estimated Completion Date with column (no extras) - <a href="Sprint_30/V1.html" target="_blank">View</a> </li>  
                      <li>Estimated Completion Date with column and banner - <a href="Sprint_30/V2.html" target="_blank">View</a> </li>   
                      <li>Estimated Completion Date with column, ECD status messages and banner - <a href="Sprint_30/V3.html" target="_blank">View</a> </li>  
                    </ul>
                </div>
              </div>


              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                      Sprint 28
                    </span>
                  </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

                    <p style="margin-bottom: 10px;">This sprint includes:
                    </p>
                    <ul class="govuk-list">
                      <li>Reply to Requisition - Select row 2 in the table (LP980123) - <a href="Sprint_28/replytorequisition/V1.html" target="_blank">View</a> </li>   
                      <li>Extract data - Select row 3 in the table (Potter/09/09) - <a href="Sprint_28/extractData/V1.html" target="_blank">View</a> </li>
                      <li>Labels - Accessibility button to change colours - <a href="Sprint_28/labels/V1.html" target="_blank">View</a> </li>
                      <li>Side Menu - Expands on hover over - <a href="Sprint_28/sideMenu/V1.html" target="_blank">View</a> </li>
                      <li>Side Menu - Expands with bottom left corner button - <a href="Sprint_28/sideMenu/V2.html" target="_blank">View</a> </li>                          
                      <li>Side Menu - Exapndable with VMA with VCA toggle - <a href="Sprint_28/sideMenu/V3-VCA.html" target="_blank">View</a> </li>                          
                      <li>View Colleague's Application with Labels - <a href="Sprint_28/VCA/V1-VMA.html" target="_blank">View</a> </li>   
                      <li>View Colleague's Application - <a href="Sprint_28/VCA/V2-VMA.html" target="_blank">View</a> </li>
                      <li>Dark Mode - toggle between light and dark - <a href="Sprint_28/darkMode/V1-light.html" target="_blank">View</a> </li>                       
                      <li>View Colleague's Application - Different column order - <a href="Sprint_28/VCA/V3-VMA.html" target="_blank">View</a> </li>
                      
                    </ul>
                </div>
              </div>


              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                      Sprint 27
                    </span>
                  </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

                    <p style="margin-bottom: 10px;">This sprint included:
                    </p>
                    <ul class="govuk-list">
                       <li>Estimation completion date notification banner - Text supplied from the board <a href="Sprint_27/V1.html" target="_blank">View</a> </li>
                       <li>Prototype with Internet Explorer fixes for expandable filters <a href="Sprint_27/V2.html" target="_blank">View</a> </li>
                       <li>Prototype rebuilt to make fonts/layout closer to staging version <a href="Sprint_27/V3.html" target="_blank">View</a> </li>
                     
                    </ul>
                </div>
              </div>

              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                      Sprint 26
                    </span>
                  </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

                    <p style="margin-bottom: 10px;">This sprint included:
                    </p>
                    <ul class="govuk-list">
                      <li>Estimation completion date notification banner - <a href="Sprint_26/V3.html" target="_blank">View</a> </li>
                      <li>Estimation completion date notification banner - James Thomas Text Update - <a href="Sprint_26/V4.html" target="_blank">View</a> </li>
                      <li>Estimation completion date notification banner - Text Option 1 - ECD Table Header Clickable<a href="Sprint_26/V5.html" target="_blank">View</a> </li>
                      <li>Estimation completion date notification banner - Text Option 2 - ECD Table Header "What's This?"<a href="Sprint_26/V6.html" target="_blank">View</a> </li>
                      <li>Help Page - Updated ECD description <a href="Sprint_26/Help.html" target="_blank">View</a> </li>
                      <li>Estimation completion date - "N/A" text and link to help <a href="Sprint_26/V7.html" target="_blank">View</a> </li>
                      <li>Estimation completion date - "Unable to supply" text <a href="Sprint_26/V8.html" target="_blank">View</a> </li>
                      <li>Estimation completion date - "Not Available" text <a href="Sprint_26/V9.html" target="_blank">View</a> </li>
                      
                    </ul>
                </div>
              </div>


              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                      Sprint 25
                    </span>
                  </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

                    <p>Andy Carr (Interaction Designer) joined the team at the end of the sprint. Since taking over the prototyping area, I've built a new archive system as well as completed minor updates relating to ECD.</p> 
                    <p>To understand the prototyping environment better, I've also experimented with different layouts for potential future updates.</p>

                    <p style="margin-bottom: 10px;
                    margin-top: 30px;">This sprint included:
                    </p>
                    <ul class="govuk-list">
                      <li>Estimation asterisk text removed for User Testing - <a href="Sprint_25/Sprint_25_V1.html" target="_blank">View</a> </li>
                      <li>Existing VMA design but with thicker titles - <a href="Sprint_25/Sprint_25_V5.html" target="_blank">View</a> </li>
                      <li>Existing Layout - shared applications section added - <a href="Sprint_25/Sprint_25_V9.html" target="_blank">View</a> </li>
                      <li>Existing Layout - shared applications + visual status tags - <a href="Sprint_25/Sprint_25_V12.html" target="_blank">View</a> </li>
                      
                      <li style="margin-top:15px;">Hybrid layout - side navigation menu removed - <a href="Sprint_25/Sprint_25_V6.html" target="_blank">View</a> </li>
                      <li>Hybrid layout - shared applications section added - <a href="Sprint_25/Sprint_25_V10.html" target="_blank">View</a> </li>

                      <li style="margin-top:15px;">New layout - Green - visible filters and search - <a href="Sprint_25/Sprint_25_V3.html" target="_blank">View</a> </li>
                      <li>New layout - Green - hidden filters and search - <a href="Sprint_25/Sprint_25_V4.html" target="_blank">View</a> </li>
                      <li>New layout - Blue - hidden filters and search - <a href="Sprint_25/Sprint_25_V4_Blue.html" target="_blank">View</a> </li>
                      <li>New layout - Blue - shared applications section added - <a href="Sprint_25/Sprint_25_V8.html" target="_blank">View</a> </li>
                      <li>New layout - Blue - GOV UK visual status tags (tad dull) - <a href="Sprint_25/Sprint_25_V13.html" target="_blank">View</a> </li>
                      <li>New layout - Blue - Brighter visual status tags - <a href="Sprint_25/Sprint_25_V11.html" target="_blank">View</a> </li>
                      <li>New layout - Blue - New expand row button "Details" - <a href="Sprint_25/Sprint_25_V14.html" target="_blank">View</a> </li>
                      <li>New layout - Blue - Last Updated column added - <a href="Sprint_25/Sprint_25_V15.html" target="_blank">View</a> </li>
                      
                    </ul>
                </div>
              </div>
             
             
             
             
             
             
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                      View My Applications v1.0
                    </span>
                  </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

                    <p><a class="govuk-link" href="Old/vma_1.html">View My Applications v1.0</a></p>

                    <p style="margin-bottom: 10px;
                    margin-top: 30px;">This version incorporates all of the discussed changes to the design of VMA that includes headers and footers, a left hand menu, the search box, filtering, and an expanded entry etc.
                    </p>
                    <ul class="govuk-list">
                      <li>Added filters (checkboxes)</li>
                      <li>Aligned search bar to the right side of the page.</li>
                      <li>Added 'Estimated completion' dates.</li>
                      <li>Added feature to sort order 'Recieved by HMLR' and 'Estimated completion'.</li>
                  </ul>

                  <p style="margin-bottom: 10px;
                  margin-top: 30px;">The left hand menu will have content that concurs with the other areas of Portal and will look similar to the other menus on other screens i.e Homepage left hand menu.
                  </p>
                  <ul class="govuk-list">
                    <li>The font colour  has been changed to green (#516715).</li>
                    <li>The font colour to identify the current page is black (#000000).</li>
                    <li>The hover background remains as green (#D4E039).</li>
                </ul>

                <p style="margin-bottom: 10px;
                margin-top: 30px;">The header of the VMA will incorporate:
                </p>
                <ul class="govuk-list">
                  <li>The header will contain the links “Logout” followed by “Customer Support”.</li>
                  <li>It was not agreed whether there would be a pop out window icon next to customer support. This will need to be checked with the agreed header / footer design.</li>
                  <li>The Land Registry Title and the Land Registry Logo, that if clicked, will take the user back to the Home Page.</li>
              </ul>

              <p style="margin-bottom: 10px;
              margin-top: 30px;">The footer of the VMA will incorporate:
              </p>
              <ul class="govuk-list">
                <li>The four links as signed off around “Terms and Conditions”, “Accessibility Statement”, “Freedom of Information” and “Crown copyright”.</li>
              </ul>
                </div>
              </div>

              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                      View My Applications v1.1
                    </span>
                  </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

                    <p><a class="govuk-link" href="/Old/vma2_1.html">View My Applications v1.1</a></p>


                    <p style="margin-bottom: 10px;
                    margin-top: 30px;">This version incorporates all of the discussed changes to the design of VMA that includes headers and footers, a left hand menu, the search box, filtering, and an expanded entry etc.<br><br>
                    The following changes were made in accordance with Sam Brierley's observations:
                    </p>
                    <ul class="govuk-list">
                      <li>Added blue underline to the expandable rows. (To bring in line with the GOV Accordion pattern, and prompt user that the data is expandable).</li>
                      <li>Removed the "Customer Support" link from the header. (As this takes you to the customer support forum, it won't be specific to Portal (ie contextual help) and will break the user journey by opening a new window to a separate domain).</li>
                      <li>Removed the "Customer Support" link from the header. (As this takes you to the customer support forum, it won't be specific to Portal (ie contextual help) and will break the user journey by opening a new window to a separate domain).</li>
                      <li>Changed green text in the left hand menu to black text (in order to pass colour contrast accessibility checks).</li>
                  </ul>

                </div>
              </div>

              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                      View My Applications v1.2
                    </span>
                  </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

                    <p><a class="govuk-link" href="/Old/vma3_1.html">View My Applications v1.2</a></p>

                    <p style="margin-bottom: 10px;
                    margin-top: 30px;">This version incorporates all of the discussed changes to the design of VMA that includes headers and footers, a left hand menu, the search box, filtering, and an expanded entry etc.<br><br>
                    The following changes were made in accordance with Sam Brierley's observations:
                    </p>
                    <ul class="govuk-list">
                      <li>Added blue underline to the expandable rows. (To bring in line with the GOV Accordion pattern, and prompt user that the data is expandable).</li>
                      <li>Removed the "Customer Support" link from the header. (As this takes you to the customer support forum, it won't be specific to Portal (ie contextual help) and will break the user journey by opening a new window to a separate domain).</li>
                      <li>Changed green text in the left hand menu to black text (in order to pass colour contrast accessibility checks).</li>
                  </ul>

                  <p style="margin-bottom: 10px;
                  margin-top: 30px;">This version incorporates all of the discussed changes to the design of VMA that includes headers and footers, a left hand menu, the search box, filtering, and an expanded entry etc.
                  </p>
                  <ul class="govuk-list">
                    <li>Agreed to retain "Customer Support" link after "Logout" within the header.</li>
                    <li>We agreed to retain the “Customer Support” link next to “Logout” in the VMA header. We discussed whether we should also add the “pop-out” window icon. It was felt that for the short term we add hover text “Opens in a new window”</li>
                    <li>Added hover text "Opens in a new window" instead of a pop-out icon.</li>
                    <li>We agreed to retain the four links in the footer and again for the short term we have the additional text below the links of “These links open in a new window”.</li>
                </ul>
                <p>(The customer support and footer links would be revisited when the Portal Refresh light touch is being considered and developed).</p>
                <p>It was agreed that the menu on the left hand side looks acceptable with the green text on white background, but not on a green hover tint. Again further insight is required as to make it fully accessible and clear that these are links without losing some of the clean appearance of the VMA service.</p>
                <p>There was some significant discussion around how to indicate to customers that a parent row can be expanded to show additional details. It was suggested that the “+” sign on its own is insufficient and could fail accessibility requirements. It was also agreed that we should consider other options and that 1) form should follow function, 2) the bigger ‘hit area’ the better and 3) that the solution should pass accessibility. The initial suggestion was that there should be blue underlines as per the GDS recommendations, but this implied that the data may lead elsewhere, there was also suggestions around to add a “Tint on Hover” for the whole row.</p>
                </div>
              

              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                      View My Applications (Experimental)
                    </span>
                  </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

                    <p><a class="govuk-link" href="/Old/vma4_1.html">View My Applications (Experimental)</a></p>

                    <p style="margin-bottom: 10px;
                    margin-top: 30px;">This prototype is to experiment with the components. For example:
                    </p>
                    <ul class="govuk-list">
                      <li>Changing the expanded data row background colour when the cursor is hovered over that row.</li>
                      <li>Adding filters beneath the left hand menu.</li>
                      <li>Changing the structure of the table headings.</li>
                  </ul>
                </div>
              </div>

              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                      View My Applications (In line with LIVE)
                    </span>
                  </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

                    <p><a class="govuk-link" href="/Old/livevma_1.html">View My Applications (In line with LIVE)</a></p>

                    <p style="margin-bottom: 10px;
                    margin-top: 30px;">This prototype is in line with what we have in live.
                    </p>
                    <ul class="govuk-list">
                      <li>*View My Applications only*</li>
                  </ul>
                </div>
                </div>
              </div>

              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                      View My Applications (Sprint 15 Version)
                    </span>
                  </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

                    <p><a class="govuk-link" href="/Old/sprint15.html">View My Applications (Sprint 15 Version)</a></p>
                    <p style="margin-bottom: 10px;
                    margin-top: 30px;">This is the latest prototype. Known defects:
                    </p>
                    <ul class="govuk-list">
                      <li>Works in Chrome, other browsers in progress</li>
                      <li>Pagination isn't dynamic</li>
                      <li>Border frames on the expanded rows aren't solid</li>
                  </ul>

                  <p style="margin-bottom: 10px;
                  margin-top: 30px;">This version of the prototype includes:
                  </p>
                  <ul class="govuk-list">
                    <li>Help page</li>
                    <li>Sort</li>
                    <li>Filters</li>
                    <li>Revised table data</li>
                    <li>Icons for help and new window</li>
                    <li>Revised estimated completion footnote text</li>
                    <li><a class="" href="/Old/submenu.html">View My Applications (Sub heading left hand menu)</a></li>
                </ul>

                </div>
              </div>

              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                      VMA Error Messages
                    </span>
                  </h2>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

                    <p><a class="govuk-link" href="/Old/access_denied.html">Access denied</a></p>
                    <p><a class="govuk-link" href="/Old/access_not_yet_enabled.html">Access not yet enabled</a></p>
                    <p><a class="govuk-link" href="/Old/page_not_found.html">Page not found</a></p>
                    <p><a class="govuk-link" href="/Old/problem_with_service.html">There is a problem with the service</a></p>
                   

                </div>
              </div>

                

                    
              </div>
              

              

            </div>


            </ul>
            <br>
        </div>


    </div>

    <br>

    <div class="govuk-grid-column-one-quarter" style="margin-left: -16px;" id="menu">
    <div class="app-back-to-top" data-module="app-back-to-top">
      <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
        <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
          <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg>Back to top
      </a>
    </div>
    </div>

    <!-- </footer> -->

    <div class="govuk-grid-row footer-link">
        <div class="govuk-grid-column-full" id="headerdiv">
    <div class="govuk-width-container">
            <br>
            <br>
            <hr style="height: 4px;  background-image: linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">



    <br> 
    <a style="text-color: grey; text-decoration: none;"><u> Terms and conditions</u></a>
    <a style="text-color: grey; text-decoration: none;">| <u>Accessibility Statement</u></a>
    <a style="text-color: grey; text-decoration: none;">| <u>Freedom of information</u></a>
    <a style="text-color: grey; text-decoration: none;">| <u>© Crown copyright</u></a>

    <a style="float:right;" href="/prototype-admin/clear-data"> Clear data </a>
    <br>
    <br>
    <a style="text-color: grey; text-decoration: none;"><i>These links will open in a new window.</i></a>
    <p></p>
    </div>
    </div>
    </div>




{% endblock %}
