<!DOCTYPE html>
{% extends "layout_unbranded.html" %}
  {% from "checkboxes/macro.njk" import govukCheckboxes %}
  {% block pageTitle %}
{% endblock %}

{% block content %}

<style>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

</style>


<!-- Back to index -->
<div class="govuk-width-container">
    <a href="index.html" class="govuk-back-link" style="margin-left: 0px; margin-top: 0px;">Back to Index</a>
    <meta charset="utf-8"/>
</div>

<div class="govuk-grid-row">

<!-- header -->
  <div class="govuk-grid-column-full" id="headerdiv">
    <a href="portalhomepage.html">
  <img src="public/images/headerlogo.svg" alt="hmlrlogo">
</a>
  <br>

  <!-- logout and customer support -->
  <a class="tooltip" href="#" style="float: right; font-size: 14px; font-weight: ; text-decoration: none; margin-top: 0px; margin-top :-15px;"> Customer Support
  <!-- <img style="float: right; font-size: 14px; margin-right: -5px; margin-top :-8px;" src="public/images/popout-modern.png" width="30" height="30"> -->

  <a href="#" style="float: right; font-size: 14px; font-weight: ; text-decoration: none; margin-right: 5px; padding-right: 10px; margin-top: -15px;"> Logout </a>
  <hr style= "height: 4px;  background-image: linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">
  </div>

</div>

<div id="navbar">
      <h2>
        Resources
      </h2>
      <nav>
        <ul>
          <a class="nav-link" href="#"><li class="selected nav-item">Fonts</li></a>
          <a class="nav-link" href="#"><li class="nav-item">Sketch Service Map Template</li></a>
        </ul>
      </nav>
</div>

<!-- menu -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter" style="margin-left: 0px;" id="menu">
    <button class="collapsible"><strong><a href="" style="text-decoration: underline; font-size: 16px; margin-left: 0px; margin-top: 0px;"><font color="#005ea5">My Portal Homepage</a></strong></button>
 </div>
</div>



<div class="four-quarters" style="float:right;">



<!-- service title -->
<div class="" style="">
    <h1 class="govuk-heading-l govuk-!-font-size-27" style="font-weight: normal;"> View My Applications </h1>
</div>


<div class="govuk-grid-row">
<div class="" style="float: right; margin-right: -0px;">
<div class="flex-column search-field-container">
  <p class="govuk-!-font-size-14" style="font-weight: normal; padding-left: 0px; margin-left: 0px; margin-top: 0px; margin-bottom: 0px; margin-right: 0px;">Search by Customer reference, Title number or HMLR reference</p>
  <div class="flex-row">
    <input type="text" id="search-input" style="width: 300px; margin-left: 0px; height: 36px; font-size: 14px; border-color: black; border-width: 1px; border-radius: 0px;margin-left: 0px; margin-top: 0px;">
    <button style="cursor: pointer; border-radius: 0px;" value="submit" id="search-button"> Search </button>
  </div>
  <div class="right">
    <a href="#" id="reset" class="govuk-link--no-visited-state reset-search">Reset search</a>
  </div>
</div>
</div>
</div>

</div>



{% endblock %}
