<!DOCTYPE html> {% extends "layout_unbranded.html" %} {% from "checkboxes/macro.njk" import govukCheckboxes %} {% block pageTitle %} {% endblock %} {% block content %}
<style>
    #submenu {
        cursor: pointer;
    }
    /* Style the button that is used to open and close the collapsible content */

    .collapsible {
        background-color: transparent;
        cursor: pointer;
        height: 30px;
        border: none;
        text-align: left;
        outline: none;
        font-size: 14px;
        display: flex;
        justify-content: left;
        align-items: left;
        width: 200px;
    }
    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

    .collapsible:hover {
        background-color: #D4E039;
    }
    /* Style the collapsible content. Note: hidden by default */

    .content {
        padding-left: 10px;
        font-size: 12px;
        display: none;
        overflow: hidden;
        font-family: arial;
        cursor: pointer;
    }

    .item {
        width: 190px;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .item:hover {
        background: #E5EC89;
    }

    .link:hover {
        background: #E5EC89;
        text-decoration: underline;
    }

    a:visited {
        color: #4c2c92;
    }

    /* a:link {
        color: #005ea5;
    } */

    /* .govuk-link:hover {
      text-decoration: underline;
    } */

    .black-link-row:hover {
      color:#000000;
    }
</style>

<div class="govuk-grid-row">
    <div class="govuk-width-container">
      <!-- Phase banner ----->
      <!-- <div class="govuk-phase-banner">
          <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag">
          Prototype
        </strong>
              <span class="govuk-phase-banner__text">
          This is a prototype and not a real service.
        </span>
          </p>
      </div>
      <br>
      <br> -->

      <!-- Header -->
      <!-- <div class="govuk-grid-row">
          <div class="govuk-grid-column-full" id="headerdiv">
              <img src="public/images/headerlogo.svg">
              <br>
              <a style="float: right; font-size: 14px; font-weight: ; margin-top: -15px;"></a>

              <a style="float: right; font-size: 14px; font-weight: ; padding-right: 10px; margin-top: -15px;"> Customer Support
        </a>

              <a style="float: right; font-size: 14px; font-weight: ; padding-right: 10px; margin-top: -15px; padding-bottom: 0px;">
          Jane Doe </a>


              <hr style="height: 4px;  background-image: linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">
          </div>
      </div>
      <br>
      <br> -->
        <a href="index.html" class="govuk-link">My Portal Home page</a>
        <meta charset="utf-8" />
        <!-- <a href="index.html" style="float: right;" class="govuk-link">Logout</a> -->
    </div>
    <div class="govuk-grid-column-one-quarter">
    </div>
</div>
<div class="govuk-grid-column-three-quarters govuk-!-margin-top-9" style="float: right; width: 80%;">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <h1 class="govuk-heading-l govuk-!-font-size-27" style="font-weight: normal;"> View My Applications </h1>
        </div>

        <div class="govuk-grid-column-two-thirds" style="margin-bottom: 0px; float: right;">
            <form id="search" style="float: right;">
                <h2 class="govuk-body govuk-!-font-size-16" style="font-weight: normal; margin-top: -40px; margin-bottom: 5px;">
                    Search by Customer reference, Title number or HMLR reference</h2>
                <div style="display: flex; flex-direction: row;">
                    <input type="text" id="search-input" style="width: 300px; height: 35px; font-size: 14px; border-color: black; border-width: 1px; border-radius: 2px;">
                    <div style="margin-left: 10px; display: flex; flex-direction: column;">
                        <button id="search-button"> Search </button>
                        <a href="#" id="reset" class="govuk-link govuk-link--no-visited-state" style="font-size: 14px; margin-top: 5px;">Reset search</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- My Work Table -->
    <table class="govuk-table my-work">

        <thead class="govuk-table__head">
            <tr class="govuk-table__row" style="font-size:14px;background-color: rgba(199,210,193,0.5);">
                <th class="govuk-table__header govuk-!-width-one-twelfth " scope="col"></th>
                <th class="govuk-table__header govuk-!-width-one-sixth " scope="col" id="Title">Title number</th>
                <th class="govuk-table__header govuk-!-width-one-sixth  " scope="col">Customer reference</th>
                <th class="govuk-table__header govuk-!-width-one-sixth " scope="col">Application type</th>
                <th class="govuk-table__header govuk-!-width-one-sixth //sortable" style="cursor: pointer;" scope="col">Received by HMLR </th>
                <th class="govuk-table__header govuk-!-width-one-sixth  " scope="col" style="width: 20%;">Application progress
                </th>
                <th class="govuk-table__header govuk-!-width-one-sixth" style="cursor: pointer;" scope="col">Estimated completion
                </th>
                <th class="govuk-table__header govuk-!-width-one-twelfth" style="cursor: pointer; width: 6%;" scope="col"><a style="font-weight: bold; font-size: 14px;" class="expandyAll">View details</a></th>
            </tr>

        </thead>

        {% macro rows(page) %}
        <!-- 1 -->
        <!-- <broken padding> -->
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row govuk-link black-link-row">
                <td class="govuk-table__cell "></td>
                <td class="govuk-table__cell " scope="row">LP123456
                    <p class="govuk-visually-hidden"> L927GDU </p>
                    <!-- THIS IS PAGE {{page}} -->
                </td>
                <td class="govuk-table__cell ">Jones.20313</td>
                <td class="govuk-table__cell Substantive" id="">Register Update
                    <p class="govuk-visually-hidden"> Substantive Delayed </p>
                </td>
                <td class="govuk-table__cell " scope="row" data-sortable="2019-06-15">15/06/19</td>
                <td class="govuk-table__cell " scope="row">Delayed</td>
                <td class="govuk-table__cell " style="padding-left: 10px;" data-sortable="2019-11-21"></td>
                <td class="govuk-table__cell" scope="row"><a class="expandy-row-trigger2" href="#">+</a></td>
            </tr>

            <!-- 1 Expanded row -->
            <tr class="govuk-table__row expandy-row hide-row">
                <!-- Vertical line -->
                <td class="govuk-table__cell" colspan="1">
</div>
</td>

<!-- APPLICATION PROGRESS -->
<div>
    <td class="govuk-table__cell" colspan="2">
        <b> Application progress - details<br></b>
        <br> Delayed - Prior Pending
        <br>Applications(s) or Official Search(es)
        <br>
        <br>
        <br><b>Correspondence</b>
        <p style="font-size: 14px;">
            <br>
            <a href="#"> Notice(s) issued on 22/08/19</a>
            <br>
            <a class="thirdparty"> Notice(s) issued on 24/07/19</a>
            <br>
            <a href="#"> Notice(s) issued on 12/07/19</a></p>
    </td>
    <!-- HMLR REFERENCE -->
    <td class="govuk-table__cell" colspan="2" style="vertical-align: top;">
        <b> HMLR Reference<br><br></b>
        <p style="font-size: 14px;">L927GDU</p>
        <br>
    </td>
</div>

</tr>
</tbody>

<!-- 2 -->
<tbody class="govuk-table__body">
    <tr class="govuk-table__row govuk-link black-link-row">
        <td class="govuk-table__cell "></td>
        <td class="govuk-table__cell" scope="row">LP980123
            <p class="govuk-visually-hidden"> S827LKJ </p>
        </td>
        <td class="govuk-table__cell">JT/391/Williams</td>
        <td class="govuk-table__cell Substantive">New Lease
            <p class="govuk-visually-hidden"> Substantive Received </p>
        </td>
        <td class="govuk-table__cell" scope="row" data-sortable="2019-04-01">01/04/19</td>
        <td class="govuk-table__cell">
            <t class="govuk-tag--progress"> Received</t>
        </td>
        <td class="govuk-table__cell" style="padding-left: 10px;" data-sortable="2019-08-01"></td>
        <td class="govuk-table__cell" scope="row"><a class="expandy-row-trigger2" href="#">+</a></td>
    </tr>

    <tr class="govuk-table__row expandy-row hide-row">
        <!-- Vertical line -->
        <td class="govuk-table__cell" colspan="1">
            </div>
        </td>
        <div>
            <!-- Application progress -->
            <td class="govuk-table__cell" colspan="2" style="vertical-align: top;">
                <b> Application progress - details<br><br></b> Received: Priority Protected
                <br> Awaiting Processing
                <br>
                <br>
            </td>
            <!-- <b>Correspondence</b>

            <!-- HMLR Reference -->
            <td class="govuk-table__cell" colspan="2" style="vertical-align: top;">
                <b> HMLR Reference</b>
                <br>
                <br>
                <p style="font-size: 14px;">S827LKJ</p>
                </p>
            </td>
            <!-- Files -->
            <td class="govuk-table__cell" colspan="2" style="padding-top: 0px;">
                </p>
            </td>

        </div>
    </tr>

</tbody>

<tbody class="govuk-table__body">

    <tr class="govuk-table__row  govuk-link black-link-row">
        <td class="govuk-table__cell "></td>
        <td class="govuk-table__cell" scope="row">LP09209
            <p class="govuk-visually-hidden"> Y917GSY </p>
        </td>
        <td class="govuk-table__cell">Bartlett.23124</td>
        <td class="govuk-table__cell">Official Copies
            <p class="govuk-visually-hidden"> Preliminary Completed</p>
        </td>
        <td class="govuk-table__cell" scope="row" data-sortable="2019-07-01">01/07/19</td>
        <td class="govuk-table__cell" scope="row">Completed</td>
        <td class="govuk-table__cell" style="padding-left: 10px;"> </td>
        <td class="govuk-table__cell" scope="row"><a class="expandy-row-trigger2 nogovuk-link" href="#">+</a></td>
    </tr>

    <tr class="govuk-table__row expandy-row hide-row">
        <!-- Vertical line -->
        <td class="govuk-table__cell" colspan="1">
            </div>
        </td>
        <div>
            <!-- HMLR reference + status -->
            <br>
            <td class="govuk-table__cell" colspan="2" style="padding-top: 0px; vertical-align: top;">
                <!-- <b> Application progress - details<br></b>
                <br>Completed
                <br>
                <br> -->
                <!-- Correspondence -->

                </p>
            </td>
            <!-- Files -->
            <br>
            <td class="govuk-table__cell" colspan="4" style="padding-top: 0px;">
                <b> HMLR Reference</b>
                <br>
                <br>

                <p style="font-size: 14px;">Y917GSY</p>
                <b>Files<br></b>
                <table class="govuk-table my-work" style="text-align: left; margin-top: 10px;">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row" style="font-size:14px;background-color: rgba(199,210,193,0.5);">
                            <th class="govuk-table__header" scope="col" id="Title" style="width: 20%;">Date</th>
                            <th class="govuk-table__header govuk-!-width-five-sixth  " scope="col">Name</th>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">2019-10-31</td>
                            <td class="govuk-table__cell"><a href="#">Official Copy - Title plan</a></td>
                            <tr>
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell" scope="row">2019-10-31</td>
                                    <td class="govuk-table__cell"><a href="#"> Official Copy - Register</a></td>
                                    <tr>
                    </tbody>
                </table>
            </td>

        </div>
        </tr>

</tbody>

<tbody class="govuk-table__body ">

    <tr class="govuk-table__row govuk-link black-link-row">
        <td class="govuk-table__cell "></td>
        <td class="govuk-table__cell" scope="row">LP980165
            <p class="govuk-visually-hidden"> E921HSK </p>
        </td>
        <td class="govuk-table__cell">JT/938/Watkins</td>
        <td class="govuk-table__cell">Official Search of Whole with Priority
            <p class="govuk-visually-hidden"> Preliminary Completed </p>
        </td>
        <td class="govuk-table__cell" scope="row" data-sortable="2019-06-13">13/06/19</td>
        <td class="govuk-table__cell" scope="row">
            <text class="govuk-tag--complete">Completed</text>
        </td>
        <td class="govuk-table__cell" style="padding-left: 10px;" data-sortable=""></td>
        <td class="govuk-table__cell" scope="row"><a class="expandy-row-trigger2" href="#">+</a></td>
    </tr>

    <tr class="govuk-table__row expandy-row hide-row">
        <!-- Vertical line -->
        <td class="govuk-table__cell" colspan="1">
            </div>
        </td>
        <div>

            <!-- HMLR reference -->

            <td class="govuk-table__row" colspan="2" style="padding-top: 0px; vertical-align: top;">
                <!-- <b> Application progress - details<br></b>
                <br>Completed
                <br> -->
            </td>
            <!-- Correspondence -->
            <td class="govuk-table__cell" colspan="4" style="padding-top: 0px; vertical-align: top;">
                <table class="govuk-table my-work" style="text-align: left;">
                    <thead class="govuk-table__head">
                        <!-- <tr class="govuk-table__row" style="font-size:14px;background-color: rgba(199,210,193,0.5);"> -->
                        <th style="border-bottom: none;  padding-top: 0;" class="govuk-table__header" scope="col" id="Title" style="width: 20%;">HMLR Reference</th>
                        <th style="border-bottom: none;  padding-top: 0;" class="govuk-table__header govuk-!-width-five-sixth  " scope="col">Priority Period</th>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">E921HSK</td>
                            <td class="govuk-table__cell">13 Jun 2019 - 13 Jul 2019</td>
                            <tr>
                    </tbody>
                </table>
                <b>Files<br></b>
                <table class="govuk-table my-work" style="text-align: left; margin-top: 10px;">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row" style="font-size:14px;background-color: rgba(199,210,193,0.5);">
                            <th class="govuk-table__header" scope="col" id="Title" style="width: 20%;">Date</th>
                            <th class="govuk-table__header govuk-!-width-five-sixth  " scope="col">Name</th>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">2019-10-15</td>
                            <td class="govuk-table__cell"><a href="#">Search Result</a></td>
                            <tr>
                    </tbody>
                </table>
            </td>
        </div>

        </tr>

</tbody>

<!-- 5 -->
<tbody class="govuk-table__body ">

    <tr class="govuk-table__row govuk-link black-link-row">
        <td class="govuk-table__cell "></td>
        <td class="govuk-table__cell" scope="row">LP45173
            <p class="govuk-visually-hidden"> M928SAI </p>
        </td>
        <td class="govuk-table__cell">Smith.20313</td>
        <td class="govuk-table__cell">Transfer of Part
            <p class="govuk-visually-hidden"> Substantive Delayed</p>
        </td>
        <td class="govuk-table__cell" scope="row" data-sortable="2019-06-12">12/06/19</td>
        <td class="govuk-table__cell" scope="row">Delayed</td>
        <td class="govuk-table__cell" style="padding-left: 10px;" data-sortable="2019-10-20"></td>
        <td class="govuk-table__cell" scope="row"><a class="expandy-row-trigger2" href="#">+</a></td>
    </tr>
    <tr class="govuk-table__row expandy-row hide-row">
        <!-- Vertical line -->
        <td class="govuk-table__cell" colspan="1"></td>
        <div>
            <!-- HMLR reference -->
            <td class="govuk-table__row" colspan="2" style="margin-top: 0px; vertical-align: top;">
                <b> Application progress - details</b>
                <br>
                <br>Delayed - Extension of Time Granted
                <br>
                <br>
                <br><b>Correspondence</b>
                <br>
                <a href="#" style="font-size: 14px;">
                    <br> Requisition(s) issued on 29/06/19
                    <br>
                    <br>
                </a>
            </td>
            <!-- Correspondence -->
            <td class="govuk-table__cell" colspan="1" style="padding-top: 0px; vertical-align: top;">
                <b> HMLR Reference</b>
                <br>
                <br>
                <p style="font-size: 14px;">M928SAI</p>
            </td>
            <!-- Files -->
            <!-- <td class="govuk-table__cell" colspan="1" style="padding-top: 0px;"><br><br><br><br><br><br>
                <b>Files</b>
                <p style="font-size: 14px;">

                    <a href="#"></a>
                    <br>
                    <br>
                </p>
            </td> -->
            <!-- Parent titles -->
            <td class="govuk-table__cell" colspan="2" style="padding-top: 0px; vertical-align: top;">
                <b>Parent title(s)</b>
                <br>
                <br>
                <p style=" font-size: 14px; ">
                    LP20001
                    <br>

                    <br>
                    <br>
                </p>
            </td>

        </div>
    </tr>

</tbody>

<tbody class="govuk-table__body ">

    <tr class="govuk-table__row govuk-link black-link-row">
        <td class="govuk-table__cell "></td>
        <td class="govuk-table__cell " scope="row ">LP54312
            <p class="govuk-visually-hidden "> A272JSH </p>
        </td>
        <td class="govuk-table__cell ">Curtis.15439</td>
        <td class="govuk-table__cell ">Transfer of Part
            <p class="govuk-visually-hidden "> Substantive Received</p>
        </td>
        <td class="govuk-table__cell " scope="row " data-sortable="2019-06-12 ">12/06/19</td>
        <td class="govuk-table__cell ">
            <t class="govuk-tag--progress "> Received </t>
        </td>
        <td class="govuk-table__cell " style="padding-left: 10px; " data-sortable="2019-08-15 "></td>
        <td class="govuk-table__cell " scope="row "><a class="expandy-row-trigger2 " href="# ">+</a></td>
    </tr>

    <tr class="govuk-table__row expandy-row hide-row ">
        <!-- Vertical line -->
        <td class="govuk-table__cell " colspan="1 ">
            </div>
        </td>
        <div>
            <div>
                <!-- HMLR reference -->
                <td class="govuk-table__row " colspan="2 " style="padding-top: 0px; vertical-align: top;">
                    <b> Application progress - details<br></b>
                    <br>In progress
                    <br>

                </td>
                <!-- Correspondence -->
                <td class="govuk-table__cell " colspan="1" style="padding-top: 0px; vertical-align: top;">
                    <b> HMLR Reference</b>
                    <br>
                    <br>
                    <p style="font-size: 14px; ">A272JSH</p>
                </td>
                <!-- Parent titles -->
                <td class="govuk-table__cell " colspan="1 " style="padding-top: 0px; vertical-align: top;">
                    <b>Parent title(s)</b>
                    <br>
                    <br>
                    <p style="font-size: 14px; ">
                        LP10001
                        <br> LP10002
                        <br> LP10003
                        <br> LP10004
                        <br> LP10005
                        <br> and others
                    </p>
                </td>

            </div>
    </tr>

</tbody>

<tbody class="govuk-table__body ">

    <tr class="govuk-table__row govuk-link black-link-row">
        <td class="govuk-table__cell "></td>
        <td class="govuk-table__cell " scope="row ">LP980123
            <p class="govuk-visually-hidden "> T832JDH </p>
        </td>
        <td class="govuk-table__cell ">JT/722/Davis</td>
        <td class="govuk-table__cell ">Official Search of Part with Priority
            <p class="govuk-visually-hidden "> Preliminary Cancelled</p>
        </td>
        <td class="govuk-table__cell " scope="row " data-sortable="2019-05-10 ">10/05/19</td>
        <td class="govuk-table__cell ">Cancelled</td>
        <td class="govuk-table__cell " style="padding-left: 10px; "></td>
        <td class="govuk-table__cell " scope="row "><a class="expandy-row-trigger2 " href="# ">+</a></td>
    </tr>

    <tr class="govuk-table__row expandy-row hide-row ">
        <!-- Vertical line -->
        <td class="govuk-table__cell " colspan="1 ">
            </div>
        </td>
        <div>

            <!-- HMLR reference -->

            <td class="govuk-table__row " colspan="2 " style="padding-top: 0px; vertical-align: top;">
                <!-- <b> Application progress<br></b>
                <br>Cancelled
                <br>
                <br> -->
                <b>Correspondence</b>
                <br>
                <br>
                <a href="# " style="font-size: 14px; ">Notification of Cancellation<br><br>
      </td>
      <!-- Correspondence -->
      <td class="govuk-table__cell " colspan="4" style="padding-top: 0px; ">
        <table class="govuk-table my-work" style="text-align: left;">
          <thead class="govuk-table__head">
            <!-- <tr class="govuk-table__row" style="font-size:14px;background-color: rgba(199,210,193,0.5);"> -->
            <th style="border-bottom: none;  padding-top: 0;" class="govuk-table__header" scope="col" id="Title"
              style="width: 20%;">HMLR Reference</th>
            <th style="border-bottom: none;  padding-top: 0;" class="govuk-table__header govuk-!-width-five-sixth  "
              scope="col">Priority Period</th>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">T832JDH</td>
              <td class="govuk-table__cell">10 May 2019 - 21 Jun 2019</td>
            <tr>
          </tbody>
        </table>
        <!-- <b>Files<br></b> -->
        <table class="govuk-table my-work" style="text-align: left; margin-top: 10px;">
          <thead class="govuk-table__head">
            <!-- <tr class="govuk-table__row" style="font-size:14px;background-color: rgba(199,210,193,0.5);"> -->
              <!-- <th class="govuk-table__header" scope="col" id="Title" style="width: 20%;">Date</th> -->
              <!-- <th class="govuk-table__header govuk-!-width-five-sixth  " scope="col">Name</th> -->
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row ">
              <!-- <td class="govuk-table__cell" scope="row">2019-04-28</td> -->
              <!-- <td class="govuk-table__cell"><a href="#">Official Copy - Title plan</a></td> -->
            <tr>
                <tr class="govuk-table__row ">
                    <!-- <td class="govuk-table__cell" scope="row">2019-04-28</td> -->
                    <!-- <td class="govuk-table__cell"><a href="#"> Official Copy - Register</a></td> -->
                    <tr>
</tbody>
</table>

</td>
</div>

</tr>

</tbody>

<tbody class="govuk-table__body ">

    <tr class="govuk-table__row govuk-link black-link-row">
        <td class="govuk-table__cell "></td>
        <td class="govuk-table__cell " scope="row ">LP72912
            <p class="govuk-visually-hidden "> P956EKA </p>
        </td>
        <td class="govuk-table__cell ">Terry.43123</td>
        <td class="govuk-table__cell ">Search of the Index Map
            <p class="govuk-visually-hidden "> Preliminary Completed</p>
        </td>
        <td class="govuk-table__cell " scope="row " data-sortable="2019-05-11 ">11/05/19</td>
        <td class="govuk-table__cell ">Completed</td>
        <td class="govuk-table__cell " style="padding-left: 10px; " data-sortable=" "></td>
        <td class="govuk-table__cell " scope="row "><a class="expandy-row-trigger2 " href="# ">+</a></td>
    </tr>

    <tr class="govuk-table__row expandy-row hide-row ">
        <!-- Vertical line -->
        <td class="govuk-table__cell " colspan="1 ">
            </div>
        </td>
        <div>

            <!-- HMLR reference -->
            <td class="govuk-table__row " colspan="2 " style="padding-top: 0px; vertical-align: top;">
                <!-- <b> Application progress - details<br></b>
                <br>Completed
                <br> -->
                <!-- Correspondence -->
                <td class="govuk-table__cell " colspan="4" style="padding-top: 0px; vertical-align: top;">
                    <b> HMLR Reference</b>
                    <br>
                    <br>
                    <p style="font-size: 14px; ">P956EKA</p>
                    <b>Files<br></b>
                    <table class="govuk-table my-work" style="text-align: left; margin-top: 10px;">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row" style="font-size:14px;background-color: rgba(199,210,193,0.5);">
                                <th class="govuk-table__header" scope="col" id="Title" style="width: 20%;">Date</th>
                                <th class="govuk-table__header govuk-!-width-five-sixth  " scope="col">Name</th>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row ">
                                <td class="govuk-table__cell" scope="row">2019-04-28</td>
                                <td class="govuk-table__cell"><a href="#">Search result</a></td>
                                <tr>
                        </tbody>
                    </table>
                </td>
        </div>
        </tr>

</tbody>

<tbody class="govuk-table__body ">

    <tr class="govuk-table__row govuk-link black-link-row">
        <td class="govuk-table__cell "></td>
        <td class="govuk-table__cell " scope="row ">LP890543
            <p class="govuk-visually-hidden "> K928TDH </p>
        </td>
        <td class="govuk-table__cell ">Johnson.12334</td>
        <td class="govuk-table__cell ">Register Update
            <p class="govuk-visually-hidden "> Substantive Completed</p>
        </td>
        <td class="govuk-table__cell " scope="row " data-sortable="2019-04-05 ">05/04/19</td>
        <td class="govuk-table__cell ">
            <label class="govuk-tag--complete ">Completed</label>
        </td>
        <td class="govuk-table__cell " style="padding-left: 10px; " data-sortable="2019-06-08 ">
        </td>
        <td class="govuk-table__cell " scope="row "><a class="expandy-row-trigger2 " href="# ">+</a></td>
    </tr>

    <tr class="govuk-table__row expandy-row hide-row ">
        <!-- Vertical line -->
        <td class="govuk-table__cell " colspan="1 ">
            </div>
        </td>
        <div>
            <!-- HMLR reference -->

            <td class="govuk-table__cell " colspan="2 " style="padding-top: 0px; vertical-align: top;">
                <!-- <b> Application progress - details<br></b>
                <br>Completed
                <br>
                <br> -->
                <b>Correspondence</b>
                <p style="font-size: 14px; ">
                    <br>
                    <a href="# "> Requisition(s) issued on 22/05/19</a>
                    <br>
                    <br>
                </p>
            </td>
            <!-- Correspondence -->
            <td class="govuk-table__cell " colspan="4" style="padding-top: 0; vertical-align: top;">
                <b> HMLR Reference</b>
                <br>
                <br>
                <p style="font-size: 14px; ">K928TDH</p>
                <b>Files<br></b>
                <table class="govuk-table my-work" style="text-align: left; margin-top: 10px;">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row" style="font-size:14px;background-color: rgba(199,210,193,0.5);">
                            <th class="govuk-table__header" scope="col" id="Title" style="width: 20%;">Date</th>
                            <th class="govuk-table__header govuk-!-width-five-sixth  " scope="col">Name</th>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">2019-04-28</td>
                            <td class="govuk-table__cell"><a href="#">Registration Completion Sheet</a></td>
                            <tr>
                    </tbody>
                </table>
            </td>
        </div>
        </tr>

</tbody>

<!-- 10 -->
<tbody class="govuk-table__body ">

    <tr class="govuk-table__row govuk-link black-link-row">
        <td class="govuk-table__cell "></td>
        <td class="govuk-table__cell " scope="row ">LP980123
            <p class="govuk-visually-hidden "> A391OLS </p>
        </td>
        <td class="govuk-table__cell ">JT/103/Wilson</td>
        <td class="govuk-table__cell ">New Lease
            <p class="govuk-visually-hidden "> Substantive Completed</p>
        </td>
        <td class="govuk-table__cell " scope="row " data-sortable="2019-05-01 ">01/05/19</td>
        <td class="govuk-table__cell ">
            <label class="govuk-tag--complete ">Completed</label>
        </td>
        <td class="govuk-table__cell " style="padding-left: 10px; " data-sortable="2019-05-09 "></td>
        <td class="govuk-table__cell " scope="row "><a class="expandy-row-trigger2 " href="# ">+</a></td>
    </tr>

    <tr class="govuk-table__row expandy-row hide-row ">
        <!-- Vertical line -->
        <td class="govuk-table__cell " colspan="1 ">
            </div>
        </td>
        <div>

            <!-- HMLR reference -->

            <td class="govuk-table__cell " colspan="2 " style="padding-top: 10px; vertical-align: top;">
                <!-- <b> Application progress - details<br></b>
                <br>Completed
                <br>
                <br> -->
                <!-- Parent titles -->

                <!-- Correspondence -->
                <td class="govuk-table__cell " colspan="2 " style="padding-top: 0; vertical-align: top;">
                    <br><b> HMLR Reference</b>
                    <br>
                    <br>
                    <p style=" font-size: 14px; ">A391OLS </p>
                </td>
        </div>
    </tr>

</tbody>

{% endmacro %} {{rows(1)}} {# {{rows(2)}} {{rows(3)}} {{rows(4)}} {{rows(5)}} #}

</table>

<div class="govuk-grid-column-one-half " style="float: right; text-align: right; ">
    <div>
        <p>Displaying 1 - 10 of 20 applications</p>
        <p> 1 <a href="sprint5_2">2</a> <a href="sprint5_2">></a> </p>
    </div>

</div>

</div>
</div>
</div>
</div>

<!-- Footer -->

<!-- <footer style="bottom: 0; position: relative; ">
            <hr>
            <br>

          <a href="# " style="text-color: grey; text-decoration: none; "> Terms and conditions</a>
          <a href="# " style="text-color: grey; text-decoration: none; ">| Service hours</a>
          <a href="# " style="text-color: grey; text-decoration: none; ">| Fair processing</a>
          <a href="# " style="text-color: grey; text-decoration: none; ">| Personal information</a>
          <a href="# " style="text-color: grey; text-decoration: none; ">| Freedom of information</a>
          <a href="# " style="text-color: grey; text-decoration: none; ">| © Crown copyright </a>

          <a style="float:right; " href="/prototype-admin/clear-data "> Clear data </a>
          <br>
          <br>
          <br>
          <br>

      </footer> -->

      <!-- <div class="govuk-grid-row">
          <div class="govuk-grid-column-full" id="headerdiv">
<div class="govuk-width-container">
              <br>
              <br>
              <hr style="height: 4px;  background-image: linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">



      <br>
      <a style="text-color: grey; text-decoration: none;"><u> Terms and conditions</u></a>
      <a style="text-color: grey; text-decoration: none;">| <u>Freedom of information</u></a>
      <a style="text-color: grey; text-decoration: none;">| <u>© Crown copyright</u></a>

      <a style="float:right;" href="/prototype-admin/clear-data"> Clear data </a>
      <br>
      <br>
  </div>
</div>
</div> -->



{% endblock %}

<div>
    <p>test</p>
</div>
